ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-fish {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 5px;
  clear: both;
  overflow: hidden;
}
.menu-fish p {
  margin: 0;
  font-size: 1.2rem;
}
.menu-fish .fish-name {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-fish .price {
  font-size: 1.4rem;
  justify-content: flex-end;
}
.menu-fish img {
  float: left;
  width: 150px;
  margin-right: 1rem;
}

button {
  text-transform: uppercase;
  background: none;
  border: 1px solid #000;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Open Sans";
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}
button[disabled] {
  color: #d12028;
  background: #fff;
  border-color: #d12028;
  transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
}
button[disabled]:hover {
  color: #d12028;
  cursor: not-allowed;
}
button[disabled]:after {
  display: none;
}
button:after {
  content: "";
  z-index: -1;
  display: block;
  background: #000;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  transition: all 0.2s;
}
button:hover,
button:focus {
  color: #fff;
  outline: 0;
}
button:hover:after,
button:focus:after {
  height: 100%;
}
